<!-- <app-loader *ngIf="loading"></app-loader> -->
<div class="showcase-form card">
    <h2>Price Calculator</h2>
    <form [formGroup]="orderForm" (ngSubmit)="orderPaper()">
        <div class="form-control">
            <div class="label">
                <label for="paperType">Paper Type</label>
            </div>
            <div class="input">
                <select formControlName="paperTypeCode">
                  <option disabled selected readonly>Type of Paper</option>
                  <option *ngFor="let type of paperTypes" value="{{type.code}}"> {{ type.name }} </option>
                </select>
            </div>
        </div>
        <div class="form-control">
            <div class="label">
                <label for="level">Level</label>
            </div>
            <div class="input">
                <select formControlName="levelCode">
                  <option *ngFor="let level of levels" value="{{level.code}}"> {{ level.level }} </option>
                </select>
            </div>
        </div>
        <div class="form-control">
            <div class="label">
                <label for="deadline">Deadline</label>
            </div>
            <div class="input">
                <select formControlName="deadline">
                  <option *ngFor="let deadline of deadlines" value="{{deadline}}"> {{ deadline | deadline }} </option>
                </select>
            </div>
        </div>
        <div class="form-control">
            <div class="label">
                <label for="pages">Pages</label>
            </div>
            <div class="input">
                <div class="pages">
                    <div class="no-of-pages">
                        <div class="counter-button">
                            <i class="fa fa-minus" (click)="decrementPages()"></i>
                        </div>
                        <div class="pages-input">
                            <input type="text" value="{{noOfPages}}" readonly placeholder="Pages" required>
                        </div>
                        <div class="counter-button">
                            <i class="fa fa-plus" (click)="incrementPages()"></i>
                        </div>
                    </div>
                    <div class="spacing">
                        <select formControlName="spacing">
                          <option value="double-spaced"> Double Spaced </option>
                          <option value="single-spaced"> Single Spaced </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-control">
            <div class="label">
                <label for="mode">Mode</label>
            </div>
            <div class="input">
                <select formControlName="mode">
                <option value="original"> Original </option>
                <option value="rewriting"> Rewriting </option>
                <option value="editing"> Editing </option>
              </select>
            </div>
        </div>
        <div class="action">
            <div class="price" *ngIf="this.price">
                Price: {{ this.sharedService.currency$ | async }} {{ this.price }}
            </div>
            <div class="submit">
                <input type="submit" value="Next" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>