<!-- Navbar -->
<div class="navbar">
    <div class="container flex">
        <h1 class="logo">Writing Gram</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="docs.html">Docs</a></li>
                <li>
                    Register as:
                    <a (click)="registerCustomer()" style="cursor: pointer;">Customer</a> |
                    <a (click)="registerWriter()" style="cursor: pointer;">Writer</a>
                </li>
                <li><a (click)="showLogin()" style="cursor: pointer;">Login</a></li>
            </ul>
        </nav>
    </div>
</div>